*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #0f1829;
    position: absolute;
    z-index: -3;
    overflow-x: none;
}

.logo{
    color: white;
}

.navbar{
    padding: 10px;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form{
    display: flex;
    justify-content: space-between;
}


.categorie{
    background-color: #ffffff;
    border-radius: 20px;
    width: 120px;
    height: 45px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;
    border-right: solid 0.1px gainsboro;
}

.liste-categorie{
    position: absolute;
    z-index: 3;
    background-color: #D4D4D8;
    top: 60.5px;
    width: 160px;
    padding: 10px;
    border-radius: 15px;
    color:black;
    display: none;
    box-shadow: 1px 1px 10px 2px black;
}

li{
    background-color: #D4D4D8;
    list-style: none;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 2px;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.liste-categorie li:hover{
    background-color: #1F3556;
    color: white;
    transition: 400ms;
}

.categorie:hover .liste-categorie{
    display: block;
}

.categorie h1,i{
    background-color: #ffffff;
    font-family:sans-serif;
    font-size: 15px;
    font-weight: 400;
 }

#Search_id{
    width: 330px;
    height:45px ;
    border-radius: 0px 20px 20px 0px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    outline: none;
}

#Button_id{
    background-color: white;
    width: 18px;
    height: 24px;
    position: relative;
    border: none;
    background:none;
    right: 40px;
    top: 4px;
    cursor:pointer;
}

svg{
    background-color: #ffffff;
}

button{
    background-color: #ffffff;
}

.login{
    background-color:rgb(255, 255, 255);
    width: 80px;
    height: 40px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
}

.login:hover{
    box-shadow: 1px 1px 5px 1px rgb(82, 82, 82);
}

.fa-circle-user {
    border-radius: 20px;
    font-size: 30px;
}

.connexion-down {
    width: 130px;
    padding: 10px 0px 10px 0px;
    position: absolute;
    z-index: 3;
    top: 60px;
    background-color:white;
    color: black;
    box-shadow: 1px 1px 10px 2px black;
    border-radius: 10px;
    display: none;
}

.connexion-down a{
    text-decoration: none;
}

.mot-cnx {
    background-color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.mot-cnx:hover{
    background-color: #1F3556;
    color: white;
}

.mot-connexion {
    font-weight: 300;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

.mot-register {
    font-weight: 500;
}

.toggle{
    background: none;
}

.fa-bars{
    position: relative;
    top: 1px;
    left: 5px;
    font-size: 20px;
}

.fa-x{
    display: none;
    position: relative;
    top: 1px;
    left: 5px;  
    font-size: 16px;
}

.toggle .fa-x{
    display: none;
}

.fermer{
    display: none;
}
.open .ouvrir{
    display: none;
}

.open .fermer{
    display: block;
}

.open .connexion-down{
    display: block;
}

/********************* FIN NAV BAR STYLE *********************/


.bulbes_main_image{
    display: flex;
    width: 100vw;
    height: 520px;
}

.bulbes{
    padding: 20px;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.background-gradient{
    width: 550px;
    height: 350px;
    background: linear-gradient(to right, #1F3556, #161f2d, rgb(51, 41, 76));
    filter: blur(80px);
}

.main_image{
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    height: 420px;
}

#bulbes{
    width: 550px;
    height: 350px;
    position: absolute;
    background: none;
}

#main_image{
    width: 100%;
    height: 100%;
}

.title-main-image{
    font-size: 50px;
    color: white;
    position: absolute;
    background: none;
    font-family: 'Concert One', sans-serif;
    font-family: 'Patrick Hand',sans-serif;
    letter-spacing: 2px;
}

#ph-1{
    left: 150px;
    top: 180px;
}

#ph-2{
    left: 190px;
    top: 270px;
}

.line-divesion-section{
    display: flex;
    justify-content: center;
}

.line-divesion-section hr{
    width: 85%;
    background-color: rgb(255, 255, 255);
}


/******************* FIN BULBES , MAIN IMAGE STYLE ******************/


.title-populair-books{
    color: white;
    margin: 30px;
    height: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.arrow-carousel{
    position: relative;
    float: right;
    display: flex;
    top: -72px;
    right: 211px;
}

.fa-circle-chevron-left{
    position: absolute;
    right: 1px;
    margin: 5px;
    padding: 10px;
    border-radius: 99px;
}

.fa-circle-chevron-right{
    position: absolute;
    margin: 5px;
    padding: 10px;
    border-radius: 99px;
    
}

.center-carousel-pb{
    width: 100%;
    display: flex;
    justify-content: center;
}



.carousel-populair-books{
    width: 100vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.content{
    display: flex;
}

.carte-populair-books{
    margin: 10px;
    width: 180px;
    border-radius: 10px;
    font-family: sans-serif;
}

.image-carte{
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    opacity: 0.9;
}

.image-carte:hover{
    opacity: 1;
}

.infos-carte{
    background: linear-gradient(to right, #1F3556, #161f2d, rgb(51, 41, 76));
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    letter-spacing: 0.3px;
}

.title-carte{
    background: none;
    padding: 5px;
    font-size: 15px;
    color: white;
}

.type-carte{
    background: none;
    padding: 5px;
    color: white;
    font-weight: 200;
}

.line-divesion-carte{
    margin: 5px;
}

.price-carte-plus{
    background: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.price-carte{
    background: none;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte-plus i{
    background: none;
}

.carte-plus{
    width: 25px;
    height: 25px;
    border-radius: 99px;
    padding: 5px;
    color: black;
    background-color: #FFCA00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/******************************************************************************************
*******************************************************************************************
*********************************** hez men hnaya css **********************/
/************************ BEST SELLERS ***************/

.line2-divesion-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.title-bs-books{
    color: white;
    margin: 30px;
    height: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-carousel-bs{
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-bestsellers-books {
    width: 100vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    scroll-behavior: smooth;
}

.content-bs{
    display: flex;
}

.carte-bestsellers-books{
    margin: 10px;
    width: 180px;
    border-radius: 10px;
    font-family: sans-serif;
}


/**************************** MAIN SHOP *****************/

.grid-general{
    display: flex;
    justify-content: center;
    width: 100vw;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(6,auto);
    grid-gap: 20px;
    grid-auto-flow: dense;
}

.bg-grid-carte{
    width: 180px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom, #969696, #0000003e);
}

.grid-carte-ms{
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    width: 90%;
    height: 90%;
}

.infos-grid{
    text-align: center;
    height: 30%;
}

.image-grid{
    width: 100%;
    height: 70%;
}

.title-main-books{
    padding: 5px;
}
.line-main-books{
    margin: 5px;
}

.writer-price, .value-writer-price{
    padding: 5px;
    display: flex;
    justify-content: space-between;  
}

.writer-price p{
    font-weight: inherit;
    font-size: 8px;
}

.value-writer-price h4{
    font-size: 10px;
}

.bt-add-cart{
    width: 150px;
    height: 20px;
    border-radius: 20px;
    margin: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 5px 0.5px black;
}
.bt-add-cart:hover{
    width: 151px;
    height: 21px;
}

